.razorpay-payment-button {
    width: 100%;
    font-weight: bolder;
}

@media screen and (max-width: 575px){
    .razorpay-payment-button {
        font-size: small;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 0;
        display: block;
        border: none;
        transition: all 0.4s ease 0s;
        margin-top: 2em;
        bottom: 0;
        position: fixed;
        width: 100%;
        left: 0;
    }
}