{% extends 'base.html' %}

{% block title %} All Products {% endblock title %}

{% block content %}
     {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/category_details.css' %}">
    <section>
        {% if message.success %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endif %}
        <div class="container py-md-5 py-3">
            <h2 class="mb-md-3 text-uppercase">{{ category | upper }}</h2>
{#            <h1>{{ category.slug }}</h1>#}
            <div class="row">
                {% for product in all_products %}
                    {% with v.docs|first as first_doc %}{{ first_doc.id }}{% endwith %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <a href="{% url 'product:product_details' product.category.all.0.slug product.slug product.id %}">
                            <div class="card border-0 mb-4 px-2">
                                <img id="p_image" src="{{ product.image.url }}" class="card-img-top embed-responsive border" alt="product-image">
                                <div class="card-body py-2 px-2 text-center">
                                    <p class="card-title text-dark my-1 text-uppercase">{{ product.title }}</p>
                                </div>
                                <div class="card-footer bg-white border-0 text-dark pt-0 text-center">
                                    {% if product.price %}
                                        <span class="mr-2 mt-0 text-muted" style="text-decoration: line-through">
                                            <i class="fa fa-inr my-0" aria-hidden="true"></i> {{ product.price | floatformat:"0" }}
                                        </span>
                                    {% endif %}
                                    <span class="lead" style="vertical-align: middle">
                                        <i class="fa fa-inr my-0" aria-hidden="true"></i> {{ product.discounted_price | floatformat:"0" }}
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}