{% extends 'base.html' %}
 {% load static %}
{% block title %} Product Detail {% endblock title %}

{% block content %}

    <section>
        {% if message.success %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endif %}
        <div class="container py-md-5">
            <div class="row">
                <div class="col-lg-6">
                    <img src="{{ product.image.url }}" class="embed-responsive">
                </div>
                <div class="col-lg-6">
                    <h1>{{ product.title }}</h1>
                    <p>in <span class="text-danger">{{ category.title }}</span></p>
                    <p class="my-4 font-weight-bold" style="font-size: 40px"><i class="fa fa-inr my-0" aria-hidden="true"></i>{{ product.price | floatformat:"0" }} </p>
                    {% if already_exists %}
                        <span class="text-success font-weight-bold px-md-3" style="font-size: 16px">Already added in cart</span>
                    {% endif %}
                    <a href="{% url 'cart:cart_product' category.slug product.slug product.id %}" class="btn btn-warning my-0 py-3 px-5 my-4">
                        <span style="font-size: 18px"> Buy Now</span>
                    </a>
{#                    <p class="text-secondary">Quantity: 1</p>#}
{#                    <form method="POST" action="{% url 'cart:cart_product' category.slug product.slug product.id %}">#}
{#                        {% csrf_token %}#}
{#                        <label for="#quantity">Quantity</label>#}
{#                        <input type="number" min="1" id="#quantity" value="1" name="p_quantity">#}
{#                        <input type="submit" class="btn btn-warning" value="Buy Now">#}
{#                    </form>#}
{#                    <a  class="d-inline-block btn btn-warning my-0 py-3 px-5 my-4" href="{% url 'cart:cart_product' category.slug product.slug product.id %}">#}
{#                        <span style="font-size: 18px"> Buy Now</span>#}
{#                    </a>#}
                </div>
            </div>

        </div>
    </section>

{% endblock content %}