{% extends 'base.html' %}

{% block title %} {% endblock title %}

{% block content %}
    {% load static %}

    <section id="signUp">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8">

                </div>
                <div class="col-lg-4">
                    <div class="">
                        <h2 class="text-center">Login</h2>
                        {% if form.non_field_errors %}
                            <span class="text-danger bg-info">
                                {{ form.non_field_errors.as_ul }}
                            </span>
                        {% endif %}
                        <div class="img-thumbnail p-md-4">
                            <form method="POST" action="{% url 'accounts:login' %}">
                            {% csrf_token %}
                                <p class="mb-3 mt-1">{{ form.username }}</p>
                                <p class="my-3">{{ form.password }}</p>
                                <button type="submit" class="btn btn-outline-warning btn-block py-3 my-3">
                                    Login <i class="fa px-3 fa-2x fa-long-arrow-right my-0" aria-hidden="true" style="vertical-align: middle"></i>
                                </button>
                            </form>
                            <div>
                                <span>New here?</span> <a href="{% url 'accounts:sign_up' %}">Create account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}