{% extends 'base.html' %}
 {% load static %}
{% block title %} View Cart {% endblock title %}

{% block content %}

    <section>
        {% if message.success %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endif %}
        {% if empty_cart_message %}
            <p>{{ empty_cart_message }}</p>
        {% else %}
            <div class="container py-md-5">
                <div class="row">
                    <div class="col-md-8">
                        <h2>Cart Items</h2>
                        <div class="py-md-2">
                            {% for product in cart_products %}
                                <div class="row">
                                    <div class="col-md-2">
                                        <img alt="product image" src="{{ product.product.image.url }}" class="embed-responsive" style="height: 90px">
                                    </div>
                                    <div class="col-md-10">
                                        <h4>{{ product.product.title }}</h4>
                                        <form method="POST" action="{% url 'cart:update_cart' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="product" value="{{ product.id }}">
                                            <p>
                                                <label for="#quantity">Quantity</label>
                                                <input type="number" min="0" id="#quantity" value="{{ product.quantity }}" name="p_quantity">
                                                x {{ product.product.price | floatformat:"0" }}
                                            </p>
                                            <input type="submit" class="btn btn-warning" value="update">
                                        </form>
                                    </div>
                                </div>
                                <hr>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h2 class="">Price Details</h2>
                        <h3 class="font-weight-bold">Total - {{ cart.cart_value }}</h3>
                        <h3 class="font-weight-bold">Delivery Charges - Free</h3>
                        <a href="{% url 'payment:order_create' cart.id %}" class="btn btn-warning btn-block py-2">Create Order</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock content %}