{% extends 'base.html' %}
 {% load static %}
{% block title %} Order View {% endblock title %}

{% block content %}

    <section>
        {% if message %}
            <div class="alert {% if message.success %}alert-success{% elif message.error %}alert-danger{% endif %} alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endif %}

        <div class="container py-md-5 py-3">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <h2 class="text-uppercase">Order History</h2>
                    {% for cart in all_completed_carts %}
                        {% for a in cart.cartproduct_set.all %}
                            <div class="img-thumbnail py-4 my-3 bg-light px-2">
                                <div class="row mx-0">
                                    <div class="col-md-2 col-4">
                                        <img alt="{{ a.product.title }}" src="{{ a.product.image.url }}" style="height: 72px">
                                    </div>
                                    <div class="col-md-4 col-8 px-0">
                                        <p class="font-weight-bold mb-1">{{ a.product.title }}</p>
                                        <p class="text-muted my-0">Quantity {{ a.quantity }}</p>
                                        <p class="font-weight-bold my-1 d-md-none">{{ a.price }}</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p class="font-weight-bold mb-2 d-none d-md-block ">{{ a.price }}</p>
                                    </div>
                                    <div class="col-md-4 pr-md-1 mt-3 mt-md-1">
                                        <p class="font-weight-bold mb-2">Ordered on: <br> {{ cart.ordered_on }}</p>
                                        <p class="small my-0 text-dark">Delivery time 5-6 days</p>

                                        <p class="mt-2 mb-md-0">
                                            <span class="font-weight-bold">Status:</span>
                                            {% if cart.delivered %}
                                                <span class="text-success">Delivered</span>
                                                <br>
                                                On <span class="font-weight-bold">{{ cart.delivered_on }}</span>
                                            {% elif cart.shipped %}
                                                <span class="text-info">Shipped</span>
                                                <br>
                                                On <span class="font-weight-bold">{{ cart.shipped_on }}</span>
                                            {% else %}
                                                <span class="text-warning font-weight-bold">Processing</span>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}