<footer class="text-white py-md-5 pt-5 pb-3 bg-dark">
        <div class="container">
            <div class="row mx-0">
                <div class="col-12">
                    <span class='d-block' style="font-family: 'Pacifico', cursive; font-size: 24px">WatchPool</span>
                </div>
            </div>
            <div class="row mx-0 mt-3">
                <div class="col-md-4 mb-2">
                    <h3>Contact</h3>
                    <ul class="list-unstyled">
                        <li class="py-1">
                            <a href="mailto:naveenchahar878@gmail.com" class="text-white">
                                <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;
                                naveenchahar878@gmail.com
                            </a>
                        </li>
                    </ul>
                </div>
                 <div class="col-md-4 mb-2">
                     <h3>Join Us</h3>
                     <ul class="list-unstyled">
                        <li class="py-1">
                            <a class="text-white" href="{% url 'accounts:login' %}">
                                Login
                            </a>
                        </li>
                         <li class="py-1">
                            <a class="text-white" href="{% url 'accounts:sign_up' %}">
                                Sign Up
                            </a>
                        </li>
                     </ul>
                 </div>
                <div class="col-md-4 mb-2">
                    <h3>Social Media Links:</h3>
                    <ul class="list-unstyled">
                        <li class="py-1">
                            <a class="text-white" href="https://www.facebook.com/magicalman78">
                                <i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;&nbsp;
                                Facebook
                            </a>
                        </li>
                        <li class="py-1">
                            <a class="text-white" href="https://www.instagram.com/magicalman78/">
                                <i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;&nbsp;
                                Instagram
                            </a>
                        </li>
                        <li class="py-1">
                            <a class="text-white" href="">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>&nbsp;&nbsp;
                                Twitter
                            </a>
                        </li>
                    </ul>
                 </div>
            </div>
        </div>
    </footer>